*#
*-nat
*-nat-arm
*-nat-x86
*-oi-arm
*-oi-x86
*.bc
*.bc2
*.ll
*.o
*.s
*runme_large.sh
*runme_small.sh
*~
cross
cross2
env.sh
linker-oi/binutils-2.23.2/*
linker-oi/build/
llvm-openisa/
mibench/testes-x86/bin/
mibench/testes-x86/input/
spec/testes-x86/bin/
newlib/build/
obj/
oi-toolchain/
